@media (min-width: "334px") and (max-width:"529px"){
    .Id_Number{
        margin-left: -73px !important;
        width: 280px !important;
    }
}
@media only screen and (max-width: 600px) {
    .Id_Number{
        margin-left: -73px !important;
        width: 280px !important;
    }
}